.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 54px;

    // position: fixed;
    top: 0;
    // left: 0;
    // right: 0;
    position: sticky;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    background-color: var(--white);
}

.inner {
    height: 100%;
    // width: var(--default-layout-width);
    width: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// .logo-link{
//     display: flex;
// }

// Actions
.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    position: relative;
    display: flex;
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 10px;
    background-color: transparent;
    cursor: pointer;
}

.action-btn {
    position: relative;
    display: flex;
    font-size: 2.2rem;
    color: #161823;
    background-color: transparent;
    padding: 4px 10px;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 14px;
    cursor: pointer;
}
