.wrapper{
    width: 200px;
    padding: 20px 0 26px 30px;
    height: 100vh;
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    border-right: 1px solid #e7eaf0;
}

.logo-img {
    height: 200px;
    width: 100%;
    margin-left: -20px;
    margin-top: -40px;
}
