.container {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    border-width: 2px !important;
    border-radius: 2px;
    border-color: #c6c6c6 !important;
    border-style: dashed !important;
    background-color: #f4f4f4;
    color: #777474;
    transition: border 0.24s ease-in-out;
}

.thumb {
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    margin-bottom: 8px;
    margin-right: 16px;
    width: 100px;
    height: 100px;
    padding: 4px;
    box-sizing: border-box;
    position: relative;
}

.thumb__inner {
    display: flex;
    min-width: 0;
    overflow: hidden;
}

.image {
    display: block;
    width: auto;
    height: 100%;
}

.delete__btn {
    position: absolute;
    right: -6px;
    top: -8px;
    width: 18px;
    height: 18px;
    background-color: #c6c6c6;
    color: #777474;
    border-radius: 50%;

    &:hover {
        opacity: 0.8;
    }
}

input[type="file"] {
    color: transparent;
}
