.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.search-icon{
    font-size: 0.5rem;
    opacity: 0.6;
}

.info {
    flex: 1;
    margin-left: 12px;
    line-height: 1;
}

.username {
    font-size: 1.5rem;
    color: var(--text-color);

}
