.wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
}

@media (max-width: 739px) {
    .wrapper {
        margin-top: 60px;
    }

    .map__container{
        height: 220px !important;
    }
}

.map__container{
    height: 400px;
}
