@media (max-width: 739px){
    .post__item {
        margin-top: 20px;
        // width: 210px !important;
        height: 219px !important;
    }
}

.suggest{
    // border-color: var(--primary);
    border-color: #fc8241;
}

.post__item {
    background-color: var(--white);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    
    &:hover {
        box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12),
            0 5px 12px 4px rgba(0, 0, 0, 0.09);
    }
}
