.wrapper {
    background-color: #f1f5f9;
    height: auto;
}

.post_table {
    border-collapse: collapse;
    width: 1150px;
    margin: 32px;
}

.post_table td,
.post_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

// .post_table tr:nth-child(even) {
//     background-color: white;
// }

.post_table tr {
    background-color: white;
}

.post_table tr:hover {
    background-color: rgb(234, 232, 232);
    cursor: pointer;
}

.post_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #3d55e5;
    color: white;
}
